<!-- include header -->
<% include("include/_header") %>

<!-- Main Site -->
<main>
    <img src="img/SE-GitHub-image.png" alt="NCHS Logo" />
    <h1>Habits of Mind Journal Entry</h1>
    <div>
        <label>Date <input type="date" class="date" /></label>

        <fieldset>
            <legend>Habit of Mind:</legend>
            <% for(let habit of habits) { %>
            <label>
                <input type="radio" class="habits" name="habits"
                value="<%=habit%>" /> 
                <%=habit%>
            </label>
            <br/>
            <% } %>
            
        </fieldset>

        <label>Journal Entry <textarea class="content">My Journal Entry</textarea></label>
        <input type="submit" class="submit" value="Submit" />
    </div>
</main>

<!-- End of Main Site -->

<script src="/js/createEntry.js"></script>

<!-- include footer -->
<% include("include/_footer") %>